/* Header */
.about-section-header {
  color: var(--color-brand);
}

.about-header-2-span {
  display: block;
  flex-wrap: nowrap;
}

/* Sections */
.about-sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-sections-subheader {
  font-size: 1.1rem;
  font-weight: 500;
}

.about-body-text {
  font-family: var(--font-secondary);
  font-size: 0.9rem;
}

.contact-body-wrapper.our-story-section {
  align-content: flex-start;
  align-items: start;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .about-header {
    font-size: 1.1rem;
  }

  .about-sections {
    flex-direction: row;
  }

  .about-sections > * {
    flex: 1 !important;
    min-width: auto !important;
  }

  .about-sections > *:first-of-type {
    flex: 0.8 !important;

    height: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .about-sections {
    flex-direction: row;
  }

  .about-sections > * {
    flex: 1 !important;
    min-width: auto !important;
  }

  .about-sections > *:first-of-type {
    flex: 0.8 !important;
  }
}
