.embla {
  --slide-spacing: 2rem;
}
.embla__viewport {
  overflow: hidden;
  touch-action: pan-y pinch-zoom;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  margin-left: 0;
}

.embla__slide {
  padding-left: var(--slide-spacing);
}
