.cart {
  display: flex;
  flex-direction: column;
}

.cart-page-header {
  margin-bottom: 1rem;
}

.small-nav-item-count {
  font-size: 0.85rem;
  font-weight: 500;
}

.navigation {
  font-size: 0.85rem;
  color: var(--color-brand);
  text-decoration: underline;
  display: flex;
  width: fit-content;
  background-color: transparent;
  padding: 0;
  align-items: center;

  gap: 0.2rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  padding-inline-start: 0;
  transition: color 150ms ease;
}

.navigation:hover {
  color: var(--color-brand-hover);
}

@media screen and (min-width: 768px) {
  .cart-item-container {
    grid-template-columns: max-content 1fr auto;
    gap: 0.5rem;
  }
}
