.collections-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-grid-gap {
  gap: 0.3rem;
}

@media screen and (min-width: 630px) {
  .about-grid-gap {
    gap: 1.5rem;
  }
}

.collections-wrapper a:last-child {
  grid-column: span 2;
}
