.our-story-subcontent-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.our-story-section {
  position: relative !important;
}

.our-story-subcontent-2 {
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-height: clamp(350px, 90vw, 450px);
  aspect-ratio: 4160 / 6240;
}

.our-story-subcontent-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: scale 380ms ease;
  object-position: 0 -130px;
  object-fit: cover;
}

.our-story-subcontent-2 img:hover {
  scale: 1.01;
}

@media screen and (min-width: 768px) {
  .our-story-subcontent-2 {
    max-height: none;
    overflow: hidden;
    height: 500px;
    margin-inline-end: 1.5rem;
  }

  .our-story-subcontent-2 img {
    object-position: 0 0;
  }

  .sticky {
    position: sticky;
    top: 5.5rem;
    height: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .our-story-subcontent-2 img {
    object-position: 0 -150px;
    object-fit: cover;
  }

  @media screen and (min-width: 1550px) {
    .our-story-subcontent-2 img {
      object-position: 0 -200px;
      object-fit: cover;
    }
  }
}
