.section {
  padding: 2rem 1rem;
}

.lock-scroll {
  overflow: hidden;
  height: 100vh;
}

h2 {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 2.5rem 2.5rem;
  }
}
