.cart {
  /* padding-inline: 0;
  padding-block-end: 0; */
}

/* .product-header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding-inline: 1.5rem;

  font-weight: bold;
} */

.product-header > * {
  font-family: "Outfit", sans-serif;
}

.cart-items-holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-product-details {
  padding-block-end: 0;
}

/* NEW CART STYLING */
.navigations {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border: 0.1px solid grey;
  padding: 0.8rem;
}

.cart-item-container {
  display: grid;
  grid-template-columns: 105px 1fr 100px;
  width: 100%;
}

.cart-image-container {
  display: grid;
  place-items: center;
  width: 100px;
  aspect-ratio: 2/3;
  border: 0.1px solid grey;
  padding: 0.25rem 0.5rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3;
  padding-block-start: 0.5rem;
}

.cost-update {
  align-items: end;
}
.product-about {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.cart-item-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
}

.cart-item-price {
  font-size: 1rem;
  font-weight: bold;
  justify-content: right;
}

.cart-item-quantity-and-update {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}

.cart-item-quantity-update {
  display: flex;
  gap: 0.3rem;
  justify-content: end;
}

.functional-btn {
  width: fit-content;
  color: red;
}

.cart-nav {
  display: flex;
  align-items: center;
}

.cart-item-quantity-update input {
  padding: 0;
  padding: 0.15rem;
  max-width: 2.5rem;
  border: 0.1px solid grey;
  box-shadow: none;
}

.cart-item-quantity-update input:active {
  border: 0.1px solid grey;
  outline: none;
}

.cart-item-quantity-update input:focus {
  border: 0.1px solid grey;
  outline: none;
}

/* NEW CART STYLING ENDS */

.cart-product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cart-title-and-price {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0.8rem;

  /* text-align: center; */
}

.cartitem-title {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.cartitem-quantity {
  font-size: 0.9rem;
}

.cartitem-price {
  font-weight: bold;
}

.quantity-increment {
  justify-self: end;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
}

.quantity-increment > * {
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  padding-inline: 0.6rem;
  padding-block: 0.2rem;
}

.quantity-increment-tool {
  padding-block: 0.3rem;
}

.quantity-increment > *:last-child {
  border-bottom: none;
}

.item-quantity {
  font-weight: 700;
}

.cart-summary {
  padding-block-start: 0;
}

/* NEW CART SUMMARY STYLING */
.cart-item-summary {
  /* margin-block-start: 0.2rem; */
  padding-block: 0.5rem;
  padding-inline: 0;
  border-block-end: 0.1px solid grey;
}

.cart-cost-wrapper {
  font-family: "Anonymous Pro", monospace;
  font-size: 0.8rem;

  padding: 0;
}

.cart-cost-summary-flex {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.estimated-total {
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  margin-block: 1rem;
}
/* NEW CART STYLING ENDS */

.option {
  display: flex;
  justify-content: space-between;
}

.option > * {
  padding-left: 0.3rem;
}

.option > *:first-child {
  padding-left: 0;
}

input[type="radio"] {
  accent-color: red;
  margin-right: 0.5rem;
}

.action-btns {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.action-btns > *:last-child {
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
}

.action-btn {
  background-color: black;

  border: none;
  display: grid;
  place-content: center;
  text-decoration: none;
}

.shopping-btn,
.checkout-btn {
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
}

.checkout-link-default {
  padding: 0.7rem 1rem;
  color: rgb(243, 243, 243);
  background-color: lightgrey;
  transition: all 300ms;
}

.checkout-link-active {
  border-radius: 0.2rem;
  background-color: red;
}

.shipping-opt-container {
  display: flex;
  justify-content: space-between;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.address-form > * {
  margin-bottom: 0.5rem;
}

.change-address {
  color: red;
  font-family: "Outfit", sans-serif;
}

/* NEW CART STYLES */
