.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 0;
  padding-block: 4rem;
}

.banner-section > * {
  text-align: center;
  font-size: 0.85rem;
}

.banner {
  padding-block: 5rem;
  background-color: var(---button-hover-clr);
  color: white;
  width: 100%;
}

.order-highlight {
  font-weight: 600;
}

.order-clipper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-block-end: 0.5px solid black;
}

.order-strip:first-of-type {
  align-items: flex-start;
  text-align: start;
  padding-inline-start: 1rem;
}

.order-strip:last-of-type {
  text-align: end;

  padding-inline-end: 1rem;
}

.your-order {
  margin-block-start: 1rem;
  padding-inline: 1rem;
  width: 100%;
}

.item-cost-element {
  display: flex;
  justify-content: space-between;
  padding-block: 0.2rem;
}

.your-order-header {
  text-align: initial;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding-block: 0.2rem;
  /* border-block-end: 1px solid black; */
}

.order-left {
  display: grid;
  grid-template-columns: 75px 1fr;
  margin-inline-end: 0.5rem;
}

.order-item-price {
  font-weight: 600;
}

.order-item-title {
  font-weight: 500;
}

.order-price-breakdown {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.742);
}

.order-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block-end: 0.5rem;
  border-block-end: 0.5px solid black;
}

.order-image-container {
  max-width: 4rem;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.order-item-details {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  text-align: left;
}

.order-total {
  font-weight: 600;
  border-block-start: 1.5px dashed black;
}

.total-h2 {
  text-transform: uppercase;
}

.order-delivery-details {
  text-align: initial;
  margin-block-start: 1rem;
  background-color: rgba(255, 63, 63, 0.089);
  padding: 1.3rem 1rem;
  border-radius: 0.5rem;
}

.order-delivery-detail-header {
  font-weight: 600;

  margin-block-end: 0.3rem;
}

.order-delivery-summary {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.order-delivery-summary > * {
  display: flex;
}

.order-summary-detail {
  font-weight: 500;
  padding-inline-start: 0.5rem;
}

.order-cta-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 1.5rem;
  gap: 0.8rem;
  padding-inline: 1rem;
}

.strong-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block: 0.2rem;
}
