h2 {
  font-family: "Outfit", sans-serif;
}

/* SEARCH SECTION */
.filter {
  background-color: white;
  position: sticky;
  top: 4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
}

.search-field {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0.2px solid gray;
  width: 100%;
}

.search-field:focus,
.search-field:active {
  border: none;
  border-color: transparent;
}

.sort-field {
  display: relative;
  width: 100%;
}

.search-field::placeholder {
  word-spacing: 0px;
  letter-spacing: 0px;
}

.dropdown-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem 0.5rem 0.25rem;
  border: 1px solid black;
  border-bottom-color: none;
  border-radius: 6px;
  cursor: pointer;
}

.cut-border-radius {
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rotate-chevron-down {
  transform: rotate(180deg);
  color: rgba(0, 0, 0, 0.801);
}

.sort-ul,
.sort-li {
  text-decoration: none;
  overflow: hidden;
}

.sort-ul {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: 1px solid black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 0;
  cursor: pointer;
}

.sort-li {
  padding-inline-start: 1.2rem;
  padding-block: 0.5rem;
  border-block-end: 1px solid black;
  color: rgba(0, 0, 0, 0.801);
}

.sort-li:hover {
  background-color: var(---brand-red-clr);
  color: white;
}

.sort-ul > *:last-child {
  border-bottom-color: transparent;
}

.sort-ul > *:first-child {
  border-top-color: transparent;
}

.hide-dropdown {
  display: flex;
  height: initial;
}

.selected {
  padding-inline: 1rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.801);
}

.sort-ul,
.sort-li,
.selected,
.search-field {
  font-family: "Anonymous Pro", monospace;
}
