.filter {
  background-color: white;

  top: 5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-block-end: 1rem;
}

.filter-field {
  display: grid;
  align-items: start;
  gap: 0.5rem;
  padding-block: 0.5rem;
  grid-template-columns: 1fr;
}

.query-field {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  font-weight: 400;
  border: 0.2px solid rgb(206, 206, 206);
  font-family: "Anonymous Pro", monospace;
}

.query-field:focus {
  outline-color: var(--brand-red-clr);
  border-color: transparent;
  outline: none;
}

.query-field:focus-visible {
  box-shadow: 0 0 0 0.5px var(--brand-red-clr);
}

.query-field:hover {
  border-color: var(--brand-red-clr);
}

.sort-field {
  background-color: white;
}

.query-field::placeholder {
  word-spacing: 0px;
  letter-spacing: 0px;
  color: gray;
  font-weight: 300;
}

@media screen and (min-width: 640px) {
  .filter-field {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter {
    position: sticky;
    padding: 1rem;
    /* background-color: rgba(255, 255, 255, 0.945); */
  }
}

@media screen and (min-width: 1440px) {
  .filter-field {
    grid-template-columns: repeat(4, 1fr);
  }
}
