/* PAGE GENERAL STYLE */
.summary-header {
  font-weight: 600;
}

.checkout-header {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
}

.checkout-header .checkout-links {
  text-decoration: none;
}

/* CART REVIEW */
.checkout-section {
  background-color: var(--surface-page);
}

.checkout-links {
  font-size: 0.75rem;
}
