.cart {
  position: relative;
}

.cart-item-number {
  font-weight: bold;
  position: absolute;
  color: var(--color-brand-hover);
  top: 0;
  right: 0;

  transform: translate(50%, -50%);
}

.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}

/* NEW SEARCH */

.icon {
  width: 17px;
  height: 17px;
}

.header-account {
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text-primary);
  font-size: initial;
  margin: auto;
  max-width: fit-content;
}

.header-account:hover {
  background-color: transparent;
  color: var(--color-brand-hover);
}
