.input-wrapper {
  position: relative;
}

.eye-btn {
  width: fit-content;
  background-color: transparent;
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.eye-btn:focus-visible {
  outline-color: var(--color-brand-hover);
}

.eye-btn:hover {
  color: var(--color-brand-hover);
  background-color: transparent;
}

.input-error-msg {
  color: var(--color-brand-hover);
  font-size: 0.85rem;
}
