.post-checkout-signup-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.validation-and-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signup-input-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-input-fields-wrapper input {
  font-family: var(--font-primary);
}

.signup-input-fields-wrapper,
.names-and-email-signup-form {
  display: flex;
  flex-direction: column;
}

.first-last-name-signup {
  display: contents;
}

.feedback {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 300;
  gap: 0.2rem;
  opacity: 0.7;
}

.post-checkout-actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feedback-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.2rem;
  opacity: 0.7;
  transition: opacity var(--transition-fast) ease-in-out;
}

.feedback-container.visible {
  opacity: 1;
}

.feedback.center {
  text-align: center;
  justify-content: center;
}

@supports (-webkit-touch-callout: none) {
  .signup-input-fields-wrapper input {
    font-size: 1rem;
  }
}

.signup-signin {
  text-align: center;
  font-size: 0.8rem;
}

.signup-action-btns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .first-last-name-signup {
    display: flex;
    gap: 2rem;
  }

  .first-last-name-signup div {
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .signup-header {
    font-size: 28px;
  }

  .signup-benefits * {
    font-size: 13px;
  }

  .signup-input-fields-wrapper,
  .signup-login {
    font-size: 14px;
  }
}
