.marque:hover {
  cursor: text;
}

.marque-group {
  display: flex;
  gap: 1.2rem;
  animation: overflow 90s infinite linear;
  padding-right: 1.2rem;
  font-size: 0.85rem;
  touch-action: none;
}

@keyframes overflow {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.marque {
  display: flex;
  flex-direction: row;
  border-block: 1px solid var(--border-heavy);
  padding-block: 0.7rem;
  padding-left: 0.8rem;
  overflow-x: hidden;
  touch-action: none;
}

.marque::-webkit-scrollbar {
  display: none;
}
