.product {
  margin: 0 auto;
  flex-shrink: 0;
  width: 150px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.book-details {
  display: flex;
  flex-direction: column;
  width: inherit;
  flex-grow: 1;
}

.image-and-title {
  display: flex;
  width: inherit;
  flex-direction: column;
  flex-grow: 1;
}

.product-link {
  width: inherit;
}

.image-container {
  flex-grow: 1;
  display: flex;
  width: inherit;
  aspect-ratio: 2 / 3;

  padding: 0.3rem;
}

.add-to-cart {
  align-self: center;
  width: 85%;
  padding: 0.8rem 1rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: none;

  font-family: "Outfit", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;

  color: black;
  background-color: red;
  color: #f9f5ef;

  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(---button-hover-clr);
}

.title {
  font-size: 14px;
  text-transform: capitalize;
  justify-self: center;
}

.category {
  font-weight: 400;
  color: #1a1a1a;
  font-size: 13px;
  text-transform: uppercase;
}

.title,
.price {
  font-family: "Anonymous Pro", monospace;
}

.price {
  font-weight: bold;
}

.product-link {
  color: black;
  transition: all, 500ms;
  text-decoration: none;
}

.product-link:hover {
  color: red;
}
