.account-drawer-wrapper .authenticated-header {
  gap: 0rem;
}

.authenticated-nav-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.authenticated-account-drawer-wrapper {
  gap: 1rem;
}

.drawer-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-block: 1.5rem;
  text-transform: none;
  font-weight: 500;
  color: black;
  font-family: "Outfit", sans-serif;
}

.drawer-nav-links .drawer-nav-icons {
  transform: rotate(-45deg);
  transition: transform 100ms ease-in-out;
}

.drawer-nav-links:hover .drawer-nav-icons {
  color: var(--button-hover-clr);
  transform: rotate(0deg);
}

.drawer-nav-links:hover {
  background-color: transparent;
}

.drawer-li-text {
  text-align: left;
}
