.contact-message {
  position: relative;
  padding-bottom: 1rem;
  /* border: 1px solid black; */
}

.contact-message-word-count {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--text-muted);
  font-size: 14px;
  font-family: var(--font-secondary);
}
