@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

h1,
h2,
p,
span,
button,
label {
  font-family: var(--font-primary);
}

/* GENERAL STYLING */
/* Text */
h1 {
  font-size: clamp(1.5rem, 8vw, 2.5rem);
}

h3,
h2,
button {
  text-transform: capitalize;
}

.subheader {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  font-weight: 300;
}

.pages-container {
  padding-bottom: 3rem;
}

.main-section {
  padding-block: 4rem;
  padding-inline: 0;
}

.main {
  padding: 4rem 0rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.auth-helper-text {
  font-size: clamp(0.85rem, 3vw, 0.95rem);
  width: 100%;
  font-weight: 300;
}

.pages-wrapper {
  padding: 6rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}

.pages-wrapper-variation {
  max-width: 1600px;
  margin: 0 auto;
}

.pages-section-width-set {
  max-width: 1600px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.value-btn {
  background-color: var(--brand-red-clr);
}

.custom-toast {
  border-radius: 12px !important;
  border: 1px solid var(--divider-clr);
  box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .pages-container {
    padding-bottom: 4rem;
  }

  .pages-wrapper {
    padding-inline: 2.5rem;
  }
  .main-container {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .pages-container {
    padding-bottom: 5rem;
  }

  .pages-wrapper {
    padding-inline: 4rem;
  }

  .main-container {
    gap: 3rem;
  }
}
